odoo-addon-l10n_fr_account_oca @ git+https://github.com/OCA/l10n-france.git@refs/pull/628/head#subdirectory=l10n_fr_account_oca
odoo-addon-l10n_fr_account_vat_return @ git+https://github.com/OCA/l10n-france.git@refs/pull/740/head#subdirectory=l10n_fr_account_vat_return
odoo-addon-l10n_fr_account_edi_ubl_cii @ git+https://github.com/OCA/l10n-france.git@refs/pull/786/head#subdirectory=l10n_fr_account_edi_ubl_cii
